{% load static %}
<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'op/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'op/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'op/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'op/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'op/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'op/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'op/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
    <script src="{% static 'op/dist/js/sb-admin-2.js' %}"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
