{% extends "op/os_add.html" %}

{% block title %}系统{% endblock %}


{% block form %}
<form class="form-horizontal" role="form" action="{% url 'op:os_edit' id %}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend><strong>系统</strong></legend>
        <div class="col-lg-12 col-sm-12 form-group">
            <label class="col-lg-2 col-sm-2 control-label">{{ form.os_name.label_tag }}</label>
            <div class="col-lg-4 col-sm-4">{{ form.os_name }}</div>
        </div>
        <div class="col-lg-12 col-sm-12 form-group">
            <label class="col-lg-2 col-sm-2 control-label">{{ form.description.label_tag }}</label>
            <div class="col-lg-4 col-sm-4">{{ form.description }}</div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-lg-5 col-sm-5 control-label">
            <button type="submit" class="btn btn-primary">更  新</button>&nbsp;&nbsp;
            <a href="{% url 'op:os_del' id %}" type="button" class="btn btn-primary">删  除</a>&nbsp;&nbsp;
            <a href="{% url 'op:os' %}" type="button" class="btn btn-primary">返  回</a>
        </div>
    </div>

</form>
{% endblock %}







