{% extends "op/base_edit.html" %}

{% block title %}修改项目{% endblock %}


{% block form %}
<form class="form-horizontal" role="form" action="{% url 'op:project_edit' id %}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend><strong>修改项目</strong></legend>
        <div class="col-lg-12 form-group">
            <label class="col-sm-2 control-label">{{ form.unit.label_tag }}</label>
            <div class="col-sm-4">{{ form.unit }}</div>
            <label class="col-sm-2 control-label">{{ form.project_name.label_tag }}</label>
            <div class="col-sm-4">{{ form.project_name }}</div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-sm-2 control-label">{{ form.manager.label_tag }}</label>
            <div class="col-sm-4">{{ form.manager }}</div>
            <label class="col-sm-2 control-label">{{ form.architect.label_tag }}</label>
            <div class="col-sm-4">{{ form.architect }}</div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-sm-2 control-label">{{ form.developer.label_tag }}</label>
            <div class="col-sm-4">{{ form.developer }}</div>
            <label class="col-sm-2 control-label">{{ form.git.label_tag }}</label>
            <div class="col-sm-4">{{ form.git }}</div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-sm-2 control-label">{{ form.remark.label_tag }}</label>
            <div class="col-sm-4">{{ form.remark }}</div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-lg-10 control-label">
            <button type="submit" class="btn btn-primary">提  交</button>&nbsp;&nbsp;
            <a href="{% url 'op:project_del' id %}" type="button" class="btn btn-primary">删  除</a>&nbsp;&nbsp;
            <a href="{% url 'op:project' %}" type="button" class="btn btn-primary">返  回</a>
        </div>
    </div>

</form>
</div>
{% endblock %}







