{% extends "op/base_show.html" %}

{% block title %}项目审核{% endblock %}


{% block page-header %}项目审核{% endblock %}

{% block add-btn %}{% endblock %}

{% block thead %}
    <th>授权状态</th>
    <th>发布单元</th>
    <th>项目名</th>
    <th>申请人</th>
    <th>申请时间</th>
{% endblock %}

{% block tbody %}
    {% for row in project %}
    <tr class="{% cycle 'even gradeC' 'odd gradeC' %}">
        <td>
            <a href="{% url 'op:project_auth' row.id %}">
                {% if row.auth_status == 1 %}
                <span style="color:#00ff00"><strong>{{ row.get_auth_status_display }}</strong></span>
                {% elif row.auth_status == 2 %}
                <span style="color:#ff0000"><strong>{{ row.get_auth_status_display }}</strong></span>
                {% else %}
                <span style="color:#0000ff"><strong>{{ row.get_auth_status_display }}</strong></span>
                {% endif %}
            </a>
        </td>
        <td>{{ row.unit }}</td>
        <td>{{ row.project_name }}</td>
        <td>{{ row.owner }}</td>
        <td>{{ row.cdate|date:'Y-m-d H:i' }}</td>
    </tr>
    {% endfor %}
{% endblock %}





