{% extends "op/base_show.html" %}

{% block title %}物理机{% endblock %}


{% block page-header %}物理机{% endblock %}

{% block add-btn %}
<a href="{% url 'op:server_add' %}" type="button" class="btn btn-success">添加物理机</a>
{% endblock %}

{% block thead %}
    <th>IP地址</th>
    <th>所属环境</th>
    <th>项目ID</th>
    <th>状态</th>
    <th>CPU</th>
    <th>内存</th>
    <th>硬盘</th>
    <th>操作系统</th>
    <th>帐号</th>
    <th>端口</th>
{#    <th>备注</th>#}
    <th>申请时间</th>
{% endblock %}

{% block tbody %}
    {% for row in server %}
    <tr class="{% cycle 'even gradeC' 'odd gradeC' %}">
        <td><a href="{% url 'op:server_edit' row.id %}">{{ row.ip }}</a></td>
        <td>{{ row.environ }}</td>
        <td>{{ row.project }}</td>
        <td>{{ row.get_state_display }}</td>
        <td>{{ row.get_cpu_display }}</td>
        <td>{{ row.get_mem_display }}</td>
        <td>{{ row.get_disk_display }}</td>
        <td>{{ row.os }}</td>
        <td>{{ row.get_user_display }}</td>
        <td>{{ row.get_port_display }}</td>
{#        <td>{{ row.remark }}</td>#}
        <td>{{ row.cdate|date:'Y-m-d H:i' }}</td>
    </tr>
    {% endfor %}
{% endblock %}





